.dropdown-menu{
	min-width: 8rem;
}

/*for down footer*/
/*dont work content margin bottom*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*END for down footer*/

#btn-link{
	margin: 0.5em;
}